# Ignore artifacts:
build
coverage
dist
node_modules
.eslintrc.json
package-lock.json
package.json
webpack.common.js
webpack.dev.js
webpack.prod.js
.eslintignore
.gitignore
.prettierignore
.prettierrc
.babel.config.js