/* CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}
/* Reset Ends */

body {
    width: 100%;
    min-width: 60rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Start Dialog Page */
.start-game-dialog {
    width: 30rem;
    height: 20rem;
    border: 1px solid black;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start-game-dialog::backdrop {
    background-color: white;
    opacity: 1;
}

/* Place Ships Dialog */
.place-ships-one {
    border: none;
    width: 100vw;
    min-width: 60rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.place-ships-one:not([open]) {
    display: none;
}

.place-ships-one::backdrop {
    background-color: white;
    opacity: 1;
}

.dialog-one-header-container {
    width: 20rem;
    height: 5rem;
    border: 1px solid black;
}

.dialog-one-content {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.player-one-dialog-board {
    width: 30rem;
    height: 30rem;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(10, 3rem);
    grid-template-rows: repeat(10, 3rem);
}

.dialog-one-ships-container {
  width: 21rem;
  height: 30rem;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(7, 3rem);
  grid-template-rows: repeat(10, 3rem);
}

.carrier {
  width: 15rem;
  height: 3rem;
  border: 1px solid black;
  background-color: green;
  grid-area: 2 / 2 / 3 / 7;
}

.battleship {
  width: 12rem;
  height: 3rem;
  border: 1px solid black;
  background-color: green;
  grid-area: 4 / 2 / 5 / 6;
}

.destroyer {
  width: 9rem;
  height: 3rem;
  border: 1px solid black;
  background-color: green;
  grid-area: 6 / 2 / 7 / 5;
}

.submarine {
  width: 9rem;
  height: 3rem;
  border: 1px solid black;
  background-color: green;
  grid-area: 8 / 2 / 9 / 5;
}

.patrol-boat {
  width: 6rem;
  height: 3rem;
  border: 1px solid black;
  background-color: green;
  grid-area: 9 / 5 / 10 / 7;
}

/* Main Game Display */
.game-information-container {
    width: 25rem;
    height: 4rem;
    border: 1px solid black;
}

.game-container {
    display: flex;
    gap: 2rem;
}

.player-one-board-container,
.player-two-board-container {
    width: 30rem;
    height: 30rem;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(10, 3rem);
    grid-template-rows: repeat(10, 3rem);
}

.grid-box {
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
}

[data-space-state="water"] {
    background-color: aqua;
}

[data-space-state="water"][data-hit-status="miss"] {
    background-color: gray;
}

[data-space-state="ship"] {
  background-color: green;
}

[data-space-state="ship"][data-hit-status="hit"] {
    background-color: red;
}
