@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

@font-face {
    font-family: "OCR A Extended";
    src: url(./fonts/OCRAEXT.TTF);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Impact";
    src: url(./fonts/impact.woff);
    font-weight: normal;
    font-style: normal;
}

/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}
/* Reset Ends */

:root {
    --font-default: #33fd33;
    --green: #004300;
    --bg: #062306;
    --bg-dark: #041604;
    --red: #c72c23;
    --grey: #586457;
}

body {
    width: 100%;
    min-width: 60rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "OCR A Extended", "Impact", Arial, Helvetica, sans-serif;
}

/* Start Dialog Page */
.start-game-dialog {
    width: 44rem;
    min-height: 22rem;
    padding-bottom: 5rem;
    border: 2px solid var(--font-default);
    border-radius: 4px;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg);

}

.start-game-dialog[open] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.start-game-dialog::backdrop {
    background-color: var(--bg);
    opacity: 1;
}

.dialog-one-title {
    font-family: "Black Ops One";
    color: var(--font-default);
    font-size: 4rem;
}

/* Game Form Styling */
.game-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-header {
    color: var(--font-default);
}

#input-player-1,
#input-player-2 {
    background-color: var(--bg);
    border: 1px solid var(--font-default);
    color: var(--font-default);
    padding-left: 1rem;
    transition: all 0.3s ease;
}

#input-player-1::placeholder,
#input-player-2::placeholder {
    color: var(--font-default);
}

#input-player-1:focus,
#input-player-2:focus {
    outline: none;
}

.radio-label {
    color: var(--font-default);
}

.radio-buttons {
    border: 1px solid var(--font-default);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.radio-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--font-default);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

#single-player:checked,
#two-player:checked {
    background-color: var(--font-default);
}

#start-button {
    color: var(--font-default);
    background-color: var(--bg);
    border: 1px solid var(--font-default);
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
}

#start-button:hover {
    color: var(--bg);
    background-color: var(--font-default);
    font-weight: bold;
}

/* Place Ships One Dialog */
.place-ships-one {
    border: none;
    width: 100vw;
    min-width: 60rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: var(--bg);
}

.place-ships-one:not([open]) {
    display: none;
}

.place-ships-one::backdrop {
    background-color: var(--bg);
    opacity: 1;
}

.dialog-one-header {
    width: 20rem;
    min-height: 5rem;
    border: 1px solid var(--font-default);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    color: var(--font-default);
    margin-top: 4rem;
}

.dialog-one-buttons-container {
    height: 3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.rotate-button,
.random-button,
.reset-button-one,
.play-button-one {
    background-color: var(--bg);
    border: 1px solid var(--font-default);
    color: var(--font-default);
    padding: 0.2rem 0.5rem;
    margin-top: 0.2rem;
    cursor: pointer;
}

.rotate-button:hover,
.random-button:hover,
.reset-button-one:hover,
.play-button-one:hover {
    background-color: var(--font-default);
    border: 1px solid var(--font-default);
    color: var(--bg);
    padding: 0.2rem 0.5rem;
    margin-top: 0.2rem;
    cursor: pointer;
}

.dialog-one-content {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.player-one-dialog-board {
    width: 30rem;
    height: 30rem;
    border: 1px solid var(--font-default);
    display: grid;
    grid-template-columns: repeat(10, 3rem);
    grid-template-rows: repeat(10, 3rem);
}

.dialog-one-ships-container {
    width: 21rem;
    height: 30rem;
    border: 1px solid var(--font-default);
    display: grid;
    grid-template-columns: repeat(7, 3rem);
    grid-template-rows: repeat(10, 3rem);
}

.carrier-one {
    width: 15rem;
    height: 3rem;
    background-color: var(--font-default);
    grid-area: 2 / 2 / 3 / 7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    line-height: 1;
    word-wrap: break-word;
    overflow-wrap:break-word;
    word-break: break-word;
    color: var(--bg);
    border-radius: 10px;
}

.battleship-one {
    width: 12rem;
    height: 3rem;
    background-color: var(--font-default);
    grid-area: 4 / 2 / 5 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    line-height: 1;
    word-wrap: break-word;
    overflow-wrap:break-word;
    word-break: break-word;
    color: var(--bg);
    border-radius: 10px;
}

.destroyer-one {
    width: 9rem;
    height: 3rem;
    background-color: var(--font-default);
    grid-area: 6 / 2 / 7 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    line-height: 1;
    word-wrap: break-word;
    overflow-wrap:break-word;
    word-break: break-word;
    color: var(--bg);
    border-radius: 10px;
}

.submarine-one {
    width: 9rem;
    height: 3rem;
    background-color: var(--font-default);
    grid-area: 8 / 2 / 9 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    line-height: 1;
    word-wrap: break-word;
    overflow-wrap:break-word;
    word-break: break-word;
    color: var(--bg);
    border-radius: 10px;
}

.patrol-boat-one {
    width: 6rem;
    height: 3rem;
    background-color: var(--font-default);
    grid-area: 9 / 5 / 10 / 7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    line-height: 1;
    word-wrap: break-word;
    overflow-wrap:break-word;
    word-break: break-word;
    color: var(--bg);
    border-radius: 10px;
}

.carrier-one:hover,
.battleship-one:hover,
.destroyer-one:hover,
.submarine-one:hover,
.patrol-boat-one:hover {
    cursor: grab;
}

/* Place Ships Two Dialog */
.place-ships-two {
    border: none;
    width: 100vw;
    min-width: 60rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.place-ships-two:not([open]) {
    display: none;
}

.place-ships-two::backdrop {
    background-color: white;
    opacity: 1;
}

.dialog-two-header-container {
    width: 20rem;
    min-height: 5rem;
    border: 1px solid black;
}

.dialog-two-content {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.two-player-dialog-board {
    width: 30rem;
    height: 30rem;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(10, 3rem);
    grid-template-rows: repeat(10, 3rem);
}

.dialog-two-ships-container {
    width: 21rem;
    height: 30rem;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(7, 3rem);
    grid-template-rows: repeat(10, 3rem);
}

.carrier-two {
    width: 15rem;
    height: 3rem;
    background-color: var(--font-default);
    grid-area: 2 / 2 / 3 / 7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    line-height: 1;
    word-wrap: break-word;
    overflow-wrap:break-word;
    word-break: break-word;
    color: var(--bg);
    border-radius: 10px;
}

.battleship-two {
    width: 12rem;
    height: 3rem;
    background-color: var(--font-default);
    grid-area: 4 / 2 / 5 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    line-height: 1;
    word-wrap: break-word;
    overflow-wrap:break-word;
    word-break: break-word;
    color: var(--bg);
    border-radius: 10px;
}

.destroyer-two {
    width: 9rem;
    height: 3rem;
    background-color: var(--font-default);
    grid-area: 6 / 2 / 7 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    line-height: 1;
    word-wrap: break-word;
    overflow-wrap:break-word;
    word-break: break-word;
    color: var(--bg);
    border-radius: 10px;
}

.submarine-two {
    width: 9rem;
    height: 3rem;
    background-color: var(--font-default);
    grid-area: 8 / 2 / 9 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    line-height: 1;
    word-wrap: break-word;
    overflow-wrap:break-word;
    word-break: break-word;
    color: var(--bg);
    border-radius: 10px;
}

.patrol-boat-two {
    width: 6rem;
    height: 3rem;
    background-color: var(--font-default);
    grid-area: 9 / 5 / 10 / 7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    line-height: 1;
    word-wrap: break-word;
    overflow-wrap:break-word;
    word-break: break-word;
    color: var(--bg);
    border-radius: 10px;
}

.carrier-two:hover,
.battleship-two:hover,
.destroyer-two:hover,
.submarine-two:hover,
.patrol-boat-two:hover {
    cursor: grab;
}

/* Main Game Display */
.game-information-container {
    width: 25rem;
    height: 4rem;
    border: 1px solid black;
}

.game-container {
    display: flex;
    gap: 2rem;
}

.player-one-board-container,
.player-two-board-container {
    width: 30rem;
    height: 30rem;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(10, 3rem);
    grid-template-rows: repeat(10, 3rem);
}

.grid-box {
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--font-default);
}

[data-space-state="water"] {
    background-color: var(--bg);
}

[data-space-state="water"][data-hit-status="miss"] {
    background-color: var(--grey);
}

[data-space-state="ship"] {
    background-color: var(--font-default);
}

[data-space-state="ship"][data-hit-status="hit"] {
    background-color: var(--red);
}

[data-space-state="hidden-ship"] {
    background-color: var(--green);
}

[data-space-state="hidden-ship"][data-hit-status="hit"] {
    background-color: var(--red);
}
